:root {
    --primaru-text-color: #212121;
    --titel-text-color: #2196F3;
    --accent-color: #F5F4FA;
}


/* css for index.html */

.body {
    font-family:'Roboto', sans-serif;
    color: #212121;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.main-nav {
    display: flex;
}

.sit-nav {
    display: flex;
    align-items: center;
}

/* logo */

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-right: 93px;
}

.logo {
    color: #212121
}

.clean {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills {
    padding-bottom: 94px;
    padding-top: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Nav */

.nav .link-nav {
    color: var(--titel-text-color);
}

.nav .link-nav::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -32px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--titel-text-color);
}

.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav a {
    text-decoration: none;
}

.info {
    display: flex;
    margin-left: auto;
}


.nav:hover,
.nav:focus,
.link-nav:hover,
.link-nav:focus,
.link-navigation:hover,
.link-navigation:focus,
.name-button:hover,
.name-button:focus,
.address:hover,
.address:focus,
.footer-nav:hover,
.footer-nav:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-primary:hover,
.btn-primary:focus {
    color: #2196F3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


/* header-address */

.mail {
    color: #757575;
    text-decoration: none;
    display: flex;   
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mails {
    fill: #AFB1B8;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mail:hover .mails,
.mail:focus .mails {
    fill: #2196F3;
}

.tel {
    color: #757575;
    text-decoration: none;
    display: flex;   
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.telphon {
    fill: #AFB1B8;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.tel:hover .telphon,
.tel:focus .telphon {
    fill: #2196F3;
}

.item {
    position: relative;
}

.item + .item {
    margin-left: 50px;
}


/* Hero */

.hero {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ),    
    url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.head {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-primary {
    min-width: 200px;
    display: inline-block;
    padding: 10px 32px ;
    border: 1px solid transparent;
    font-family: inherit;
    background: var(--titel-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    cursor:pointer;
    text-align: center;
} 


/* features */

.features-box {
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.features {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-details {
    display: flex;
    flex-wrap: wrap;    
}

.features-size {
    width: 270px;
    margin-right: 30px;
}

.features-size:nth-child(4n) {
    margin-right: 0;
}

.features-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

}

.interactive {
    padding-bottom: 94px;
}

.back {
    padding-bottom: 94px;
    padding-top: 94px;
    background: #F5F4FA;
}

.head-name {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.head-list {
    display: flex;
    flex-wrap: wrap; 
}

.head-number {
    width: 370px;
    margin-right: 30px;
}

.head-number:nth-child(3n) {
    margin-right: 0;
}


/* team */

.team{
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team:nth-child(4n) {
    margin-right: 0;
}

.team-group {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    margin-right: 30px;
}

.team-group:nth-child(4n) {
    margin-right: 0;
}


.team-name {
    display: flex;
    flex-wrap: wrap;
}

.master-soc {
    display: flex;
    justify-content: center;
}

.soc-list {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.soc-list:last-child {
    margin-right: 0;
}

.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.soc-link:hover,
.soc-link:focus {
    background: #2196F3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.master-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.soc-link:hover .master-icon,
.soc-link:focus .master-icon {
    fill: #FFFFFF;
}

.name {
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    margin-top: 0;
    margin-bottom: 0px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.position {
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}


/* clients */

.clients {
    padding-bottom: 94px;
    padding-top: 94px;
}

.cooperation {
    display: flex;
}

.company {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}

.company:last-child {
    margin-right: 0;
}

.company-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

.company-link:hover .company-icon,
.company-link:focus .company-icon{
    fill: var(--titel-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
}

.company-link {
    display: flex;  
    width: 100%;
    height: 100%;
    border-radius: 4px;
    outline: 1px solid #AFB1B8;
    align-items: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    fill: #AFB1B8;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.company-link:focus,
.company-link:hover {
    outline: 1px solid #2196F3;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


/* footer */

.footer {
    background: #2F303A;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.box-nav {
    flex-direction: column;
    margin-right: 70px;
}

.box:last-child {
    margin-right: 0;
}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-footer {
    color: #FFFFFF;
}


/* address */

.address-footer {
    margin-top: 20px;
    font-style: normal;

}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-address {
    text-decoration: none;
}

.address-nav {
    margin-bottom: 9px;
}

.address-nav:nth-child(3n) {
    margin-bottom: 0;
}

.footer-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.box-icon {
    margin-right: 93px;
}

.footer-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-link:hover,
.footer-link:focus {
    background: var(--titel-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-icon {
    fill: var(--accent-color);
}


/* css for portfiolio */

/* buttons */

.item-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn {
    background: #F5F4FA;
    border-radius: 4px;
    cursor:pointer;
}

.btn-secondary {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor:pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color:var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.item-btn {
    margin-right: 8px;
}

.item-btn:nth-child(5n) {
    margin-right: 0;
}

.tip {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--accent-color);
}


/* sample */

.sample-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 4px;
}

.text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0;
    margin-bottom: 0;
}

.sample-projects {
    display: flex;
    flex-wrap: wrap;
}

.item-projects {
    background: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 30px;
}


.item-projects:nth-child(3n) {
    margin-right: 0;
}


.item-projects:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.projects {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:focus,
.projects:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px
    rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    position: relative;
    overflow: hidden;
}

.overlay:hover::before {
    opacity: 1;
    transform: translateY(0);
}

.overlay::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%; 
    opacity: 0;
    transform: translateY(100%);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgb(33, 150, 243, 0.9);
    color:var(--accent-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover .overlay-text,
.projects:focus .overlay-text{
    transform: translate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.visually-projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-sample {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left:1px solid #EEEEEE ;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    fill: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 6px;
    cursor: pointer;
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: none;
    width: 11px;
    height: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
    fill: var(--titel-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


/* footer-subscribe */

.form-container {
    display: flex;
    align-items: flex-end;
}

.label-form {
    width: 358px;
    margin-right: 12px;
}

.label-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-top: 20px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: #FFFFFF;
}

.form-input::placeholder {
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.btn-input {
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 29px;
    padding-right: 8px;
    width: 200px;
    height: 50px;
    background-color: var(--titel-text-color);
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.06em;
    cursor:pointer;
    text-align: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
    margin-left: 10px;
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.btn-input:focus,
.btn-input:hover {
    color:var(--titel-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.btn-input:focus .subscribe,
.btn-input:hover .subscribe {
    fill: var(--titel-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* modal-form */

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.text-modal {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.input-box {
    position: relative;
}

.input-modal {
    padding-left: 42px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor:pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.Check-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display:inline-block;
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-modal:hover,
.input-modal:focus {
    border-color: var(--titel-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-modal:hover + .Check-icon,
.input-modal:focus + .Check-icon {
    fill: var(--titel-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.input-textarea {
    padding-top: 12px;
    padding-left: 16px;
    margin-top: 4px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize:none;
    cursor:pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-textarea:hover,
.input-textarea:focus {
    border-color: var(--titel-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-textarea::placeholder {
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.label-checkbox {
    display: flex;
    align-items:center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    cursor:pointer;
}

.checkbox-box {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    margin-right: 9 px;
    align-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor:pointer;
}

.input-checkbox {
    position: absolute;
}

.input-checkbox:checked + .checkbox-box {
    background-color:var(--titel-text-color);
    border: none;
}

.input-checkbox:checked + .checkbox-box .checkbox-icon {
    fill: #FFFFFF
}

.checkbox-icon {
    fill: transparent;
    width: 16px;
    height: 15px;
}

.checkbox-link {
    color: var(--titel-text-color);
    margin-left: 5px;
}

.btn-modal {
    display: flex;
    margin: 40px auto 0 auto;
    padding: 10px 55px;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    background: var(--titel-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    cursor:pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:focus, 
.btn-modal:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px
    rgba(0, 0, 0, 0.16);
    color: var(--titel-text-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:hover + .checkbox-box,
.input-checkbox:focus + .checkbox-box {
border-color: var(--titel-text-color);
}
